////
/// Page Hero
////

@use '../utilities/media-query' as mediaQuery;

@use './banner';

$_namespace: 'page-hero';

.component__#{$_namespace} {
  margin-bottom: 60px;
}

.component__#{$_namespace}__hero {
  @extend .component__banner__hero;
}

.component__#{$_namespace}__hero__container {
  @extend .component__banner__hero__container;

  min-height: max(400px, calc(50vh - 60px));
}

.component__#{$_namespace}__hero__background {
  @extend .component__banner__hero__background;
}

.home-slider {
    height: 100vh;
    .tns-outer {
        button {
            display: none;
        }
    }
    .image-item {
        height: 100vh;
        background-size: cover !important;
    }
}
.hero-wrapper {
    position: relative;
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .component__banner {
        margin-bottom: 5rem;
    }
}
