////
/// Quote Section
////

@use '../layout/background-media';
@use '../layout/typography';
@use '../utilities/media-query'as mediaQuery;
@use '../variables';

.component__quote {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  &::before {
    @include mediaQuery.minWidth(900px) {
      background-color: variables.$colour-brand-two;
      content: '';
      display: block;
      height: 44px;
      position: absolute;
      margin-bottom: 60px;
      top: 0;
      transform: translateY(calc(-100% - 60px));
      width: 44px;
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="49.441" height="41.263"><defs/><path d="M19.642 1.715c-8.563 5.936-14.1 10.409-14.1 16.741a7.057 7.057 0 001.979 5.408 9.858 9.858 0 015.529-1.319 9.017 9.017 0 019.1 9.365c0 5.793-4.353 9.354-10.024 9.354C5.41 41.264.002 35.592.002 25.579c0-9.5 4.881-17.268 18.719-25.578zm27.292 0c-8.574 5.936-14.1 10.409-14.1 16.741a7.056 7.056 0 001.967 5.408 9.876 9.876 0 015.541-1.319 9.017 9.017 0 019.1 9.365c0 5.793-4.354 9.354-10.025 9.354-6.727 0-12.124-5.672-12.124-15.685 0-9.5 4.88-17.268 18.719-25.578z"/></svg>');
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
    }
  }
}

.component__quote__text {
  @extend %type__scale--5;

  margin-top: 0;
}

.component__quote__footer {
  @extend %type__scale--9;
}

.component__quote-section {
  background-color: variables.$colour-brand-three;
  margin-top: 80px;
}

.component__quote-section__container {
  padding-bottom: 60px;
  padding-top: 60px;

  @include mediaQuery.minWidth(900px) {
    padding-bottom: 80px;
    padding-top: 160px;
  }
}

.component__quote-section__title {
  @extend %type__scale--6;

  margin-top: 0;
}

.component__quote-slider {
  position: relative;
}

.component__quote-slider__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;

  @include mediaQuery.minWidth(900px) {
    justify-content: flex-end;
  }

  @include mediaQuery.maxWidth(576px) {
    justify-content: flex-end;
  }

}

.component__quote-slider__controls--prev {
  transform: rotate(180deg);
}

.component__quote-slider__controls--next {
  margin-left: 20px;
}

@media only screen and(max-width: 576px) {
  .component__quote-slider__controls {
    margin-top: -30px;
  }
}