[style*=background-image].component__experience-slider-item__background, [style*=background-image].component__banner__hero__background, [style*=background-image].component__page-hero__hero__background, [style*=background-image].component__homepage-hero__hero__background {
  background-position: center;
  background-size: cover;
}

.component__banner__hero__background, .component__page-hero__hero__background, .component__homepage-hero__hero__background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.component__banner__hero__background::after, .component__page-hero__hero__background::after, .component__homepage-hero__hero__background::after {
  background-image: linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.component__banner__hero__background > iframe, .component__page-hero__hero__background > iframe, .component__homepage-hero__hero__background > iframe {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 106.25vw;
  min-height: max(100%, 150vh);
  min-width: max(1200%, 227.77vh);
}
.component__banner__hero__background > img, .component__page-hero__hero__background > img, .component__homepage-hero__hero__background > img,
.component__banner__hero__background > video,
.component__page-hero__hero__background > video,
.component__homepage-hero__hero__background > video {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

main > .page__grid:last-of-type {
  margin-bottom: 60px;
}

.page__grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: [left-pad] 0fr [left-wide-content] 1fr [sidebar] 16fr [content-line] 16fr [right-wide-content] 1fr [right-pad] 0fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
@media (min-width: 540px) {
  .page__grid {
    grid-column-gap: 15px;
    grid-template-columns: [left-pad] 1fr [left-wide-content] 2fr [sidebar] 24fr [content-line] 40fr [right-wide-content] 2fr [right-pad] 1fr;
  }
}
@media (min-width: 800px) {
  .page__grid {
    grid-template-columns: [left-pad] 1fr [left-wide-content] 2fr [sidebar] 16fr [content-line] 32fr [right-wide-content] 2fr [right-pad] 1fr;
  }
}
@media (min-width: 1000px) {
  .page__grid {
    grid-column-gap: 20px;
    grid-template-columns: [left-pad] 1fr [left-wide-content] 2fr [sidebar] 8fr [content-line] 16fr [right-wide-content] 2fr [right-pad] 1fr;
  }
}
.page__grid .page__grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: [sidebar] 1fr [content-line] 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
@media (min-width: 540px) {
  .page__grid .page__grid {
    grid-column-gap: 15px;
    grid-template-columns: [left-pad] 0fr [sidebar] 25fr [content-line] 41fr [right-pad] 0fr;
  }
}
@media (min-width: 800px) {
  .page__grid .page__grid {
    grid-template-columns: [left-pad] 0fr [sidebar] 20fr [content-line] 40fr [right-pad] 0fr;
  }
}
@media (min-width: 1000px) {
  .page__grid .page__grid {
    grid-column-gap: 20px;
    grid-template-columns: [left-pad] 1fr [sidebar] 7fr [content-line] 15fr [right-pad] 1fr;
  }
}
@media (min-width: 540px) {
  .page__grid .grid__location--extra-wide-content .page__grid {
    grid-template-columns: [left-pad] 2fr [sidebar] 24fr [content-line] 38fr [right-pad] 2fr;
  }
}
@media (min-width: 800px) {
  .page__grid .grid__location--extra-wide-content .page__grid {
    grid-template-columns: [left-pad] 2fr [sidebar] 16fr [content-line] 31fr [right-pad] 2fr;
  }
}
@media (min-width: 1000px) {
  .page__grid .grid__location--extra-wide-content .page__grid {
    grid-template-columns: [left-pad] 3fr [sidebar] 12fr [content-line] 23fr [right-pad] 3fr;
  }
}
@media (min-width: 540px) {
  .page__grid .grid__location--max-wide-content .page__grid {
    grid-template-columns: [left-pad] 2fr [sidebar] 27fr [content-line] 43fr [right-pad] 2fr;
  }
}
@media (min-width: 800px) {
  .page__grid .grid__location--max-wide-content .page__grid {
    grid-template-columns: [left-pad] 3fr [sidebar] 12fr [content-line] 24fr [right-pad] 3fr;
  }
}
@media (min-width: 1000px) {
  .page__grid .grid__location--max-wide-content .page__grid {
    grid-template-columns: [left-pad] 3fr [sidebar] 9fr [content-line] 17fr [right-pad] 3fr;
  }
}

.grid__location--content, .component__footer__contact-row__content {
  grid-column-end: right-wide-content;
  grid-column-start: sidebar;
}
@media (min-width: 560px) {
  .grid__location--content, .component__footer__contact-row__content {
    grid-column-end: auto;
    grid-column-start: content-line;
  }
}
.grid__location--content > :first-child, .component__footer__contact-row__content > :first-child {
  margin-top: 20px;
}
.grid__location--content p a, .component__footer__contact-row__content p a {
  font-weight: 900;
  color: #c37a6a;
}

.grid__location--sidebar {
  grid-column-end: right-wide-content;
  grid-column-start: sidebar;
}
@media (min-width: 560px) {
  .grid__location--sidebar {
    grid-column-end: content-line;
  }
}
.grid__location--sidebar > :first-child {
  margin-top: 20px;
}

.grid__location--wide-content {
  grid-column-end: right-wide-content;
  grid-column-start: sidebar;
}
.page__nested-grid .grid__location--wide-content {
  grid-column-end: right-pad;
}

.grid__location--extra-wide-content {
  grid-column-end: right-pad;
  grid-column-start: left-wide-content;
}

.grid__location--max-wide-content {
  grid-column-end: right;
  grid-column-start: left-pad;
}

.destination .gallery {
  grid-column-start: sidebar;
}

.gallery-page .gallery {
  grid-column: 3/5;
  margin-bottom: 5rem;
}

.type__colour--black {
  color: #000000;
}

.type__colour--white {
  color: #ffffff;
}

.button-four, .button-five,
.type__scale--12, .button-two, .button-three,
.type__scale--11, label, .component__quote__footer, .page-navigation__list-item a,
.type__scale--9, .toggle__question, .component__quote-section__title, .component__footer__contact-name, h6,
.type__scale--6, h2,
.type__scale--2,
.type__colour--pink {
  color: #c37a6a;
}

.component__menu__title, h1,
.type__scale--1,
.type__colour--faded-blue {
  color: rgba(63, 62, 75, 0.57);
}

.component__footer__legal-content, .component__footer__legal-links, .component__footer__legal-row__copyright,
.type__scale--14, input, input[type=submit], form.wpcf7-form .form-wrapper__item.textarea textarea, form.wpcf7-form .form-wrapper__item span.label, form.wpcf7-form .follow, .button-one, .component__menu__social-container > p,
.type__scale--13, li, p,
.type__scale--10, .component__homepage-hero__content__description, .component__footer__contact-list__item,
.type__scale--8, .component__menu__list-item,
.type__scale--7, .component__quote__text, .component__experience-slider-item__title, .component__banner__content__sub-title, h5,
.type__scale--5, .component__experience-slider__title, .component__banner__content__title, h4,
.type__scale--4, .component__homepage-hero__content__title, h3,
.type__scale--3,
.type__colour--current-color {
  color: currentColor;
}

.toggle__question, .component__quote-section__title, .component__footer__contact-name, h6,
.type__scale--6, .component__quote__text, .component__experience-slider-item__title, .component__banner__content__sub-title, h5,
.type__scale--5, .component__experience-slider__title, .component__banner__content__title, h4,
.type__scale--4, .component__homepage-hero__content__title, h3,
.type__scale--3, h2,
.type__scale--2, .component__menu__title, h1,
.type__scale--1,
.type__family--serif {
  font-family: "Cormorant Garamond", serif;
}

.component__footer__legal-content, .component__footer__legal-links, .component__footer__legal-row__copyright,
.type__scale--14, input, input[type=submit], form.wpcf7-form .form-wrapper__item.textarea textarea, form.wpcf7-form .form-wrapper__item span.label, form.wpcf7-form .follow, .button-one, .component__menu__social-container > p,
.type__scale--13, .button-four, .button-five,
.type__scale--12, .button-two, .button-three,
.type__scale--11, li, p,
.type__scale--10, label, .component__quote__footer, .page-navigation__list-item a,
.type__scale--9, .component__homepage-hero__content__description, .component__footer__contact-list__item,
.type__scale--8, .component__menu__list-item,
.type__scale--7,
.type__family--sans-serif {
  font-family: "Open Sans", sans-serif;
}

input, input[type=submit], form.wpcf7-form .form-wrapper__item.textarea textarea, form.wpcf7-form .form-wrapper__item span.label, form.wpcf7-form .follow, .button-one, .component__menu__social-container > p,
.type__scale--13, .button-four, .button-five,
.type__scale--12, .button-two, .button-three,
.type__scale--11, label, .component__quote__footer, .page-navigation__list-item a,
.type__scale--9, .component__homepage-hero__content__description, .component__footer__contact-list__item,
.type__scale--8, .component__menu__list-item,
.type__scale--7, .toggle__question, .component__quote-section__title, .component__footer__contact-name, h6,
.type__scale--6, .component__quote__text, .component__experience-slider-item__title, .component__banner__content__sub-title, h5,
.type__scale--5, .component__experience-slider__title, .component__banner__content__title, h4,
.type__scale--4, .component__homepage-hero__content__title, h3,
.type__scale--3, h2,
.type__scale--2, .component__menu__title, h1,
.type__scale--1,
.type__transform--uppercase {
  text-transform: uppercase;
}

.type__weight--light {
  font-weight: 300;
}

.type__weight--normal {
  font-weight: 400;
}

.type__weight--semi-bold {
  font-weight: 500;
}

.type__weight--bold {
  font-weight: 600;
}

.component__footer__legal-content, .component__footer__legal-links, .component__footer__legal-row__copyright,
.type__scale--14, input, input[type=submit], form.wpcf7-form .form-wrapper__item.textarea textarea, form.wpcf7-form .form-wrapper__item span.label, form.wpcf7-form .follow, .button-one, .component__menu__social-container > p,
.type__scale--13, .button-four, .button-five,
.type__scale--12, .button-two, .button-three,
.type__scale--11, li, p,
.type__scale--10, label, .component__quote__footer, .page-navigation__list-item a,
.type__scale--9, .component__homepage-hero__content__description, .component__footer__contact-list__item,
.type__scale--8, .component__menu__list-item,
.type__scale--7, .toggle__question, .component__quote-section__title, .component__footer__contact-name, h6,
.type__scale--6, .component__quote__text, .component__experience-slider-item__title, .component__banner__content__sub-title, h5,
.type__scale--5, .component__experience-slider__title, .component__banner__content__title, h4,
.type__scale--4, .component__homepage-hero__content__title, h3,
.type__scale--3, h2,
.type__scale--2, .component__menu__title, h1,
.type__scale--1 {
  max-width: 35rem;
}

.component__menu__title, h1,
.type__scale--1 {
  font-size: 3.8125rem;
  letter-spacing: 0.571875rem;
  line-height: 1.6557377049;
}

h2,
.type__scale--2 {
  font-size: 2.8125rem;
  letter-spacing: 0.421875rem;
  line-height: 1.6666666667;
}

.component__homepage-hero__content__title, h3,
.type__scale--3 {
  font-size: 2.25rem;
  letter-spacing: 0.3375rem;
  line-height: 1.5277777778;
}

.component__experience-slider__title, .component__banner__content__title, h4,
.type__scale--4 {
  font-size: 2.125rem;
  letter-spacing: 0.31875rem;
  line-height: 1.5294117647;
}

.component__quote__text, .component__experience-slider-item__title, .component__banner__content__sub-title, h5,
.type__scale--5 {
  font-size: 1.125rem;
  letter-spacing: 0.16875rem;
  line-height: 1.7777777778;
}

.toggle__question, .component__quote-section__title, .component__footer__contact-name, h6,
.type__scale--6 {
  font-size: 1.125rem;
  letter-spacing: 0.1125rem;
  line-height: 1.7777777778;
}

.component__menu__list-item,
.type__scale--7 {
  font-size: 0.875rem;
  letter-spacing: 0.021875rem;
  line-height: 2.2857142857;
}

.component__homepage-hero__content__description, .component__footer__contact-list__item,
.type__scale--8 {
  font-size: 0.875rem;
  letter-spacing: 0.021875rem;
  line-height: 2.2857142857;
}

label, .component__quote__footer, .page-navigation__list-item a,
.type__scale--9 {
  font-size: 0.875rem;
  letter-spacing: 0.13125rem;
  line-height: 2.4285714286;
}

li, p,
.type__scale--10 {
  font-size: 0.875rem;
  letter-spacing: 0.004375rem;
  line-height: 2.1428571429;
}

.button-two, .button-three,
.type__scale--11 {
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  line-height: 1.8333333333;
}

.button-four, .button-five,
.type__scale--12 {
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  line-height: 1.8333333333;
}

input, input[type=submit], form.wpcf7-form .form-wrapper__item.textarea textarea, form.wpcf7-form .form-wrapper__item span.label, form.wpcf7-form .follow, .button-one, .component__menu__social-container > p,
.type__scale--13 {
  font-size: 0.75rem;
  letter-spacing: 0.1125rem;
  line-height: 1.8333333333;
}

.component__footer__legal-content, .component__footer__legal-links, .component__footer__legal-row__copyright,
.type__scale--14 {
  font-size: 0.625rem;
  line-height: 1.4;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  padding-inline-start: 1rem;
  margin-top: 0;
}

li {
  margin-bottom: 10px;
}

li p:first-of-type {
  margin-top: 0;
}

.component__app-bar {
  background-image: linear-gradient(1deg, transparent 30%, rgba(0, 0, 0, 0.5) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.component__app-bar__container {
  position: relative;
  align-items: center;
  z-index: 2;
  transition: all 0.5s ease;
}

.component__app-bar__wrapper {
  grid-column-end: right-pad;
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-app-menu-is-open=true] .component__app-bar__menu-open-icon {
  display: none;
}

.component__app-bar__menu-close-icon {
  display: none;
}
[data-app-menu-is-open=true] .component__app-bar__menu-close-icon {
  display: block;
}

.component__menu {
  background-color: #292b33;
  display: block;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: -100%;
  width: 100%;
  transition: all 0.3s ease;
}
[data-app-menu-is-open=true] .component__menu {
  top: 0;
}

.component__menu__container {
  grid-template-rows: repeat(3, auto);
  padding-top: 100px;
  padding-bottom: 60px;
  min-height: 100vh;
}

.component__menu__content {
  grid-column-end: right-pad;
  display: grid;
  grid-template-rows: minmax(0, auto) minmax(0, auto) minmax(0, 10rem);
  height: calc(100vh - 150px);
}
.component__menu__content .menu-main-container {
  grid-row: 2/3;
  grid-row-gap: 30px;
}

.component__menu__title {
  grid-row: 1/2;
  margin: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.component__menu__list {
  padding-inline-start: 0;
  grid-row-start: 2;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}

.component__menu__list-item:not(:first-of-type) {
  margin-top: 0;
}
.component__menu__list-item a {
  position: relative;
  padding: 0.5rem 0;
}
.component__menu__list-item a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  transition: width 0.3s ease;
  height: 100%;
  width: 0;
  background: #353742;
  z-index: -1;
}
.component__menu__list-item a:focus:before, .component__menu__list-item a:hover:before {
  width: calc(100% + 20px);
}

.component__menu__social-container {
  grid-row-start: 3;
  grid-column-end: right-pad;
  grid-column-start: 1;
  margin-top: 5rem;
}
.component__menu__social-container > p {
  margin-bottom: 0;
  margin-top: 0;
}
.component__menu__social-container i {
  font-size: 1.5rem;
}

.component__menu__social-list {
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  list-style: none;
}

.component__menu__social-item + .component__menu__social-item {
  margin-left: 10px;
}
.component__menu__social-item a:focus, .component__menu__social-item a:hover {
  color: #b3b3b3;
}

.component__app-bar__logo-container svg {
  transition: all 0.5s ease;
}

.scrolled .component__app-bar__wrapper {
  padding-bottom: 20px;
}
.scrolled .component__app-bar {
  height: auto;
  background: #292b33;
}
.scrolled .component__app-bar__logo-container svg {
  transform: all 0.5s ease;
  height: 3rem;
}

.component__banner__hero__container, .component__page-hero__hero__container, .component__homepage-hero__hero__container {
  position: relative;
}

.component__banner__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  padding-bottom: 40px;
  padding-top: 40px;
  z-index: 1;
}
@media (min-width: 540px) {
  .component__banner__content {
    align-items: flex-start;
    justify-content: center;
  }
}
.component__banner__content a {
  margin-top: 20px;
}

.component__banner__content__title,
.component__banner__content__sub-title {
  margin-top: 0;
  margin-bottom: 0;
}

.button-one {
  background-color: #c37a6a;
  display: block;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
@media (min-width: 540px) {
  .button-one {
    width: 285px;
  }
}
.button-one__wrapper {
  text-align: center;
}

.button-one:focus, .button-one:hover {
  background-color: #964d3c;
}
.button-one:focus .button-one__wrapper, .button-one:hover .button-one__wrapper {
  position: relative;
}

.button-two {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
}
.button-two__icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.button-two:focus, .button-two:hover {
  color: white;
}
.button-two:focus .button-two__icon, .button-two:hover .button-two__icon {
  margin-left: 10px;
  margin-right: 10px;
}
.button-two.white {
  color: white;
}

.button-three {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
}
.button-three__icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.button-three:focus .button-three__icon, .button-three:hover .button-three__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.button-four {
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}
.button-four:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  height: 1px;
  width: 100%;
  background: #c37a6a;
}
.button-four:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  height: 1px;
  width: 0;
  background: white;
}
.button-four:focus, .button-four:hover {
  color: white;
}
.button-four:focus:after, .button-four:hover:after {
  width: 100%;
}
.button-four.white {
  color: white;
}

.button-five {
  color: #ffffff;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.button-five:focus, .button-five:hover {
  color: #b3b3b3;
  border-bottom-color: transparent;
}

[data-expandable-content=true] {
  max-height: 0;
  overflow: hidden;
}
[data-expandable-is-expanded=true] [data-expandable-content=true] {
  max-height: none;
}

.page__grid[data-expandable-content] > :last-child {
  padding-bottom: 80px;
}

.component__expandable__container--style-1 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.component__expandable__item--style-1:not(:first-of-type) {
  margin-top: 20px;
}
@media (max-width: 800px) {
  .component__expandable__item--style-1 .component__banner__hero,
.component__expandable__item--style-1 [data-expandable-content=true] {
    grid-template-columns: none;
    grid-column-gap: 0;
  }
}
@media (max-width: 540px) {
  .component__expandable__item--style-1 .component__banner__content {
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.component__expandable__content--style-1 {
  background-color: #353742;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 800px) {
  .component__expandable__content--style-1 {
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.destination-item {
  margin-bottom: 20px;
}

.special-offer-details:not(:nth-of-type(2)) p {
  text-transform: uppercase;
  color: #c37a6a;
}

.read-more-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.read-more-wrapper.expand {
  max-height: 100vh;
}

.read-more-trigger {
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.read-more-trigger.hide {
  opacity: 0;
}
.read-more-trigger:hover .button-two__icon {
  transform: rotate(90deg);
}

.button-three.expanding:hover .button-three__icon, .button-three.expanding.active .button-three__icon {
  transform: rotate(90deg);
}

.component__experience-slider-item {
  display: inline-flex !important;
  justify-content: center;
  list-style: none;
}
.component__experience-slider-item__container {
  border-width: 1px;
  border-style: solid;
  border-color: #c37a6a;
  max-width: 366px;
  display: flex;
  flex-direction: column;
}

.component__experience-slider-item__background {
  height: 319px;
  overflow: hidden;
  position: relative;
}
.component__experience-slider-item__background > iframe {
  left: 50%;
  min-height: 110vw;
  min-width: 110vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.component__experience-slider-item__background > img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.component__experience-slider-item__background > video {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.component__experience-slider-item__content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #c37a6a;
}

.component__experience-slider-item__description {
  margin-top: 30px;
  margin-bottom: 0;
  flex-grow: 1;
}

.component__experience-slider-item__link {
  display: block;
  margin-top: 40px;
}

.component__experience-slider-item__title {
  margin-top: 0;
  margin-bottom: 0;
}

.component__experience-slider {
  margin-top: 60px;
  background-color: #353742;
}
.component__experience-slider .tns-outer {
  display: grid;
}
.component__experience-slider__container {
  grid-template-rows: repeat(3, auto);
  padding-top: 80px;
  padding-bottom: 80px;
}

.component__experience-slider__title {
  margin-bottom: 0;
}

.component__experience-slider .component__experience-slider__controls--prev,
.component__experience-slider .component__experience-slider__controls--next {
  width: 30px;
  height: 30px;
  color: #c37a6a;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - 30px));
  transition: all 0.3s ease;
}
@media (min-width: 500px) {
  .component__experience-slider .component__experience-slider__controls--prev,
.component__experience-slider .component__experience-slider__controls--next {
    position: initial;
    transform: none;
  }
}
.component__experience-slider .component__experience-slider__controls--prev:hover,
.component__experience-slider .component__experience-slider__controls--next:hover {
  color: white;
}
.component__experience-slider .component__experience-slider__controls--prev {
  margin-right: 20px;
  left: 0;
}
.component__experience-slider .component__experience-slider__controls--next {
  margin-left: 20px;
  right: 0;
}
.component__experience-slider__wrapper {
  grid-row-start: 2;
  margin-top: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 500px) {
  .component__experience-slider__wrapper {
    margin-top: 60px;
    justify-content: space-between;
  }
}

.component__experience-slider__list {
  display: flex;
  -webkit-padding-start: 0;
}

.component__experience-slider__cta-container {
  grid-row-start: 3;
  margin-top: 80px;
  justify-content: space-between;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}
.component__experience-slider__cta-container :first-child {
  margin-top: 0;
}
.component__experience-slider__cta-container a + a {
  margin-top: 40px;
}
@media (min-width: 800px) {
  .component__experience-slider__cta-container a + a {
    margin-top: 0;
  }
}
@media (min-width: 800px) {
  .component__experience-slider__cta-container {
    flex-direction: row;
  }
}

.carousel-wrapper .component__experience-slider__controls--next,
.carousel-wrapper .component__experience-slider__controls--prev {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 10px;
  margin-top: -15px;
}
.carousel-wrapper .component__experience-slider__controls--next {
  left: unset;
  right: 10px;
}

.component__footer__contact-row {
  background-color: #353742;
  padding-top: 40px;
  padding-bottom: 40px;
}

.component__footer__contact-row__content {
  grid-column-end: span 2;
}

.component__footer__contact-name {
  color: currentColor;
  max-width: none;
  margin-top: 0 !important;
  margin-bottom: 0;
}

.component__footer__contact-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
  flex-direction: column;
}
.component__footer__contact-list li {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2rem;
}
@media (min-width: 1200px) {
  .component__footer__contact-list li + li {
    margin-left: 10px;
  }
}
@media (min-width: 1200px) {
  .component__footer__contact-list {
    flex-direction: row;
  }
}

.component__footer__contact-list__item {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.component__footer__legal-row__container {
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 550px) {
  .component__footer__legal-row__container {
    grid-template-rows: auto;
  }
}
.component__footer__legal-row__container .silverless-logo {
  grid-column-start: sidebar;
  grid-column-end: content-line;
  text-align: left;
  grid-row-start: 2;
  transform: translateY(-4px);
}
@media (min-width: 550px) {
  .component__footer__legal-row__container .silverless-logo {
    grid-template-rows: auto;
    grid-column-start: left-wide-content;
    grid-row-start: auto;
  }
}

.component__footer__legal-content {
  display: flex;
  flex-direction: column;
  grid-column-start: sidebar;
  grid-column-end: right-wide-content;
  grid-row-start: 1;
}
@media (min-width: 550px) {
  .component__footer__legal-content {
    align-items: center;
    flex-direction: row;
    grid-row-start: auto;
    grid-column-start: content-line;
    grid-column-end: auto;
  }
}

.component__footer__legal-links {
  display: flex;
  margin-top: 20px;
}
@media (min-width: 550px) {
  .component__footer__legal-links {
    margin-top: 0;
    margin-left: 60px;
  }
}
.component__footer__legal-links a + a {
  border-left-style: solid;
  border-left-width: 1px;
  margin-left: 8px;
  padding-left: 8px;
}

.component__footer__legal-row__copyright {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.component__homepage-hero {
  margin-bottom: 60px;
}

.component__homepage-hero__hero__container {
  height: 100vh;
}

.component__homepage-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: max(700px, calc(100vh - 60px));
  padding-bottom: 0;
  padding-top: 60px;
  z-index: 1;
}
.component__homepage-hero__content a {
  margin-top: 20px;
}

.sample-content p strong {
  color: #c37a6a;
}

.icon--rotate-90 {
  transform: rotate(90deg);
}

.icon--rotate-180 {
  transform: rotate(180deg);
}

.component__map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column-start: inline-sidebar;
  grid-row-start: 2;
  grid-row-end: 40;
}
.component__map__cta-container {
  margin-top: 40px;
}
.component__map__cta-container hr {
  width: 60px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  border-color: #c37a6a;
}

.svg-map {
  width: 60%;
}

.component__page-hero {
  margin-bottom: 60px;
}

.component__page-hero__hero__container {
  min-height: max(400px, calc(50vh - 60px));
}

.page-navigation__list-item a:focus, .page-navigation__list-item a:hover {
  color: #964d3c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.page-navigation__list-item + .page-navigation__list-item {
  margin-top: 40px;
}

.page-navigation__list-item--current a {
  color: #000000;
}

#page-navigation-label {
  display: none;
}

.component__quote {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
@media (min-width: 900px) {
  .component__quote::before {
    background-color: #292b33;
    content: "";
    display: block;
    height: 44px;
    position: absolute;
    margin-bottom: 60px;
    top: 0;
    transform: translateY(calc(-100% - 60px));
    width: 44px;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="49.441" height="41.263"><defs/><path d="M19.642 1.715c-8.563 5.936-14.1 10.409-14.1 16.741a7.057 7.057 0 001.979 5.408 9.858 9.858 0 015.529-1.319 9.017 9.017 0 019.1 9.365c0 5.793-4.353 9.354-10.024 9.354C5.41 41.264.002 35.592.002 25.579c0-9.5 4.881-17.268 18.719-25.578zm27.292 0c-8.574 5.936-14.1 10.409-14.1 16.741a7.056 7.056 0 001.967 5.408 9.876 9.876 0 015.541-1.319 9.017 9.017 0 019.1 9.365c0 5.793-4.354 9.354-10.025 9.354-6.727 0-12.124-5.672-12.124-15.685 0-9.5 4.88-17.268 18.719-25.578z"/></svg>');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
  }
}

.component__quote__text {
  margin-top: 0;
}

.component__quote-section {
  background-color: #353742;
  margin-top: 80px;
}

.component__quote-section__container {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media (min-width: 900px) {
  .component__quote-section__container {
    padding-bottom: 80px;
    padding-top: 160px;
  }
}

.component__quote-section__title {
  margin-top: 0;
}

.component__quote-slider {
  position: relative;
}

.component__quote-slider__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}
@media (min-width: 900px) {
  .component__quote-slider__controls {
    justify-content: flex-end;
  }
}

.component__quote-slider__controls--prev {
  transform: rotate(180deg);
}

.component__quote-slider__controls--next {
  margin-left: 20px;
}

.silverless-logo {
  text-align: center;
}
.silverless-logo #logo {
  height: 30px;
  width: 80px;
}
.silverless-logo #silverless {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}
.silverless-logo #silverless path {
  fill: white;
}
.silverless-logo #created {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s transform ease, 2s opacity ease;
}
.silverless-logo #created path {
  fill: white;
}
.silverless-logo__container:focus #created,
.silverless-logo__container:focus #silverless, .silverless-logo__container:hover #created,
.silverless-logo__container:hover #silverless {
  opacity: 0.8;
}
.silverless-logo__container:focus #created, .silverless-logo__container:hover #created {
  transform: translateY(0);
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  margin-top: 40px;
}

input {
  position: relative;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #c37a6a;
  margin-top: 10px;
  line-height: 2rem;
  font-size: 1rem;
  text-transform: none;
  border-width: 2px;
  border-radius: 3px;
}

textarea {
  margin-top: 10px;
  border-color: #c37a6a;
}

.component__form__field {
  margin-top: 20px;
}

input[type=submit] {
  background-color: #c37a6a;
  display: block;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
input[type=submit]:focus, input[type=submit]:hover {
  background-color: #964d3c;
}
input[type=submit]:focus .button-one__wrapper, input[type=submit]:hover .button-one__wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

form.wpcf7-form .form-wrapper {
  max-width: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 8rem);
  grid-column-gap: 5rem;
  align-items: flex-end;
}
form.wpcf7-form .form-wrapper__item {
  position: relative;
  grid-column: 1/2;
}
form.wpcf7-form .form-wrapper__item.textarea {
  grid-row: 1/2;
  grid-column: 2/3;
}
form.wpcf7-form .form-wrapper__item.textarea textarea {
  text-transform: none;
  height: 2rem;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #c37a6a;
  overflow: hidden;
}
form.wpcf7-form .form-wrapper__item span.label {
  position: absolute;
  bottom: 3rem;
}
form.wpcf7-form .form-wrapper .button-submit {
  grid-row: 2/3;
  grid-column: 2/3;
}
form.wpcf7-form .ajax-loader {
  position: absolute;
  bottom: -40px;
}
form.wpcf7-form .follow i {
  width: calc(2rem + 2px);
  height: calc(2rem + 2px);
  line-height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
}
form.wpcf7-form .follow i:first-of-type {
  margin-left: 3rem;
}

.toggle__question {
  border-top: 1px solid #C37A6A;
  border-bottom: 1px solid #C37A6A;
  max-width: 20rem;
  padding: 1rem 0;
  color: white;
}
.toggle__question svg {
  margin-right: 1rem;
  transition: 1s transform;
}
.toggle__question svg path {
  fill: #C37A6A;
}
.toggle__answer {
  display: none;
}
.toggle.active svg {
  transform: rotate(90deg);
}

.gallery {
  grid-column: 2/4;
  margin: 3rem 0 0;
}
.gallery > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}
.gallery a {
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 0.5s ease;
  height: 15rem;
}
.gallery a:before {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 1px;
  left: 1px;
  border-radius: 0 0 1rem 0;
  width: calc(100% - 2px);
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}
.gallery a.inline {
  height: auto;
}
.gallery a img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  border: 1px solid #353742;
  transition: all 0.3s ease;
}
.gallery a p {
  position: absolute;
  z-index: 5;
  left: 1rem;
  top: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.gallery a i {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  right: 1rem;
  bottom: 1rem;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  align-self: center;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  color: black;
}
.gallery a:hover {
  box-shadow: none;
}
.gallery a:hover:before {
  opacity: 0.4;
}
.gallery a:hover img {
  border-color: #c37a6a;
  border-radius: 0 0 1rem 0;
}
.gallery a:hover p {
  top: 0%;
}
.gallery a:hover i {
  opacity: 1;
}
.gallery .inline-wrapper {
  grid-column: 1/13;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
.gallery .inline-wrapper:hover {
  box-shadow: none;
}
.gallery__fullwidth a {
  grid-column: span 12;
}
.gallery__halves a {
  grid-column: span 6;
}
.gallery__onethird-twothird a {
  grid-column: span 4;
}
.gallery__onethird-twothird a:nth-of-type(2) {
  grid-column: span 8;
}
.gallery__onethird-twothird.right a {
  grid-column: span 8;
}
.gallery__onethird-twothird.right a:nth-of-type(2) {
  grid-column: span 4;
}
.gallery__three-images {
  grid-template-rows: 1fr 1fr;
}
.gallery__three-images a {
  height: auto;
}
.gallery__three-images a:nth-of-type(1) {
  grid-column: span 6;
  grid-row: span 2;
  height: auto;
}
.gallery__three-images a:nth-of-type(2) {
  grid-column: span 6;
  grid-row: span 1;
}
.gallery__three-images a:nth-of-type(3) {
  grid-column: span 6;
  grid-row: span 1;
}
.gallery__three-images.right a:nth-of-type(1) {
  grid-column: 7/13;
  grid-row: span 2;
  height: auto;
}
.gallery__three-images.right a:nth-of-type(2) {
  grid-column: span 6;
  grid-row: 1/2;
}
.gallery__three-images.right a:nth-of-type(3) {
  grid-column: span 6;
  grid-row: span 1;
}