//
// Sanitize.css - Interactive
//

// Add the correct display in Edge 18- and IE.

details {
  display: block;
}

// Add the correct styles in Edge 18-, IE, and Safari.

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

// Add the correct display in all browsers.

summary {
  display: list-item;
}
