//
// Sanitize.css - Text-level semantics
//

// Remove the gray background on active links in IE 10.

a {
  background-color: transparent;
}

// Add the correct text decoration in Edge 18-, IE, and Safari.

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

// Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
  font-weight: bolder;
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.

code,
kbd,
samp {
  font-family: monospace, monospace; // 1
  font-size: 1em; // 2
}

// Add the correct font size in all browsers.

small {
  font-size: 80%;
}
